@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:wght@700&family=Playfair+Display&display=swap');

$font-color: #fff;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #000;
//$background-color: #060c2b; This is a backup I kinda liked this one but was not entierly sure
$background-alternative-color: #e0fbfc;

$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;
$nav-font: 'Bungee Spice', sans-serif;