body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.box {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    a {
        color: #fff;
    }
}

.landingpage {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);

    h1 {
        color: #fff;
        justify-self: center;
        grid-column: span 3;
    }

    .wide3 {
        grid-column: span 3;
    }
    .wide2 {
        grid-column: span 2;
    }
}


@media screen and (max-width: 767px) {
    .landingpage {
        grid-template-columns: 1fr;
    }


    .landingpage h1, .landingpage .wide {
        grid-column: span 1;
    }
}
