@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:wght@700&family=Playfair+Display&display=swap');

$accent-color: #ee6c4d;
$background-color: #000;
//$background-color: #060c2b; This is a backup I kinda liked this one but was not entierly sure
$background-alternative-color: #e0fbfc;


// Block-Quote
$bq-border-left: #f5f5f5;

// Technology
$tech-box-background-color: #3498db;
$tech-box-color: #fff;
$tech-box-a-color: #fff;
$tech-landinpage-h1-color: #fff;

// typography
$font-color: #6ba8c2;
$main-font: 'Playfair Display', serif;
$header-font: 'Lato', sans-serif;
$font-alternative-color: #6fc8d6;
$nav-font: 'Bungee Spice', sans-serif;

$font-alternative-color2: #fff;

// icons
$icon-old-republic-color: #6fc8d6;
$icon-github-color: #6fc8d6;

// Mobile-menu
$mobmenu-nav-a-color: #333;

// Code
$code-code-border: #65e9f0;
$code-code-background: #050505;

$code-pre-border: #65e9f0;
$code-pre-background: #050505;

// Logo
$logo: 'assets/img/Logo.jpeg';
